<section class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 text-center">
      <h1 id="home-title" class="d-inline-block text-primary fw-bold pb-2 mb-3">
        {{ 'home.welcome' | translate }}
      </h1>
      <p class="text-body-secondary fs-5 fst-italic mb-4">
        {{ 'home.subtitle' | translate }}
      </p>
      <app-button icon="search" [link]="searchLink">{{ 'home.cta' | translate }}</app-button>
    </div>
  </div>
</section>
